* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h1 {
    padding-left: 100px;
}
  

.header form {
    display: grid;
    padding-right: 50px;
}

.task-container {
    background-color: rgba(128, 128, 128, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid rgba(0, 0, 0, 0.142);
    text-align: center;
    margin: auto;
    width: 35%;
}

#task-list {
    padding-left: 0;
    counter-reset: task;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    counter-increment: task;
}

#task-list li span {
    min-width: 80px;
    text-align: left;
}

#remove-task {
    height: 12px;
    width: 30px;
    padding-left: 5px;
    text-align: center;
}

#task-list li::before {
    content: counter(task) ". ";
}

button {
    border: none;
    border-radius: 5px;
    background-color: white;
}